node_modules
.next
.git
.gitignore
npm-debug.log
README.md
.env
.env.local
.env.*.local
public/uploads/*
!public/uploads/.gitkeep
backups
.android-sdk
.jdk
android
tsconfig.tsbuildinfo
.next-build.log
